{% extends 'accounts/main.html' %}
{% load static %}



{% block content %}

    {% include 'accounts/navbar-home.html' %}
    <div class="home">
        
        <div class="anime_cont">
            {% for anime in animes %}
                <div class="anime_rev">
                    
                    <a href="/review/{{anime.id}}"><img src="{{anime.anime_img.url}}" alt=""></a>
                    <a href="/review/{{anime.id}}"> {{anime.anime_name}} </a>

                    
                        <!-- <h3>{{ ratings.rate__avg }}/5</h3> -->
                    
                    
                </div>
            {% endfor %}
            
        </div>
        <div class="top_anime">
            <h1>Top Animes</h1>
            <ul class="anime_name">
                {% for ani in ani %}
                    <li>
                        <a href="/review/{{ani.id}}">
                        {{ani.anime_name}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}