
{% load static %}
<nav>
    <div class="logo">
        <a href="/home">re-anime</a>
    </div>
    <!-- <div class="search-bar">
        <form action="">
            <input type="text" placeholder="Search Anime Review">
            <input type="submit" value="">
        </form>
        <img src="{% static 'images/search-icon.png' %}" alt="">
    </div> -->
    <div class="navLinks">
        <ul>
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                {% if user.is_authenticated %}
                    <a href="/logout">Logout</a>
                {% endif %}
            </li>
        </ul>
    </div>
</nav>